.birthday-selector {
  display: flex;
  justify-content: center;
}

.day-selector {
  display: flex;
}

.month-selector {
  display: flex;
}

.birthday-selector span {
  margin-inline: 16px;
}

.plus-minus {
  user-select: none;
  background: blueviolet;
  border: solid 2px blue;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 10;
  margin-top: 20px;
  padding-bottom: 0px;
}
.value {
  background: blueviolet;
  border: solid 6px blue;
  font-size: 1.6rem;
  border-radius: 30px;
}

.month-value {
  width: 180px;
  height: 35px;
  margin-inline: -27px;
}

.day-value {
  background: blueviolet;
  width: 35px;
  height: 35px;
  margin-inline: -16px;
}

.value:hover {
  background: violet;
  user-select: none;
}

.sign-img {
  width: 108px;
  margin: 32px;
}

.month-dropdown {
  position: relative;
  height: 0px;
  list-style: none;
  text-align: center;
  width: 160px;
  margin-top: -12px;
  overflow: visible;
  margin-left: -28px;
  z-index: 3;
}

.month-dropdown li {
  background: blueviolet;
  font-size: 1.3rem;
  font-weight: 500;
  border: blue 2px solid;
  user-select: none;
}

.month-dropdown li:hover {
  background: violet;
}

.day-dropdown {
  position: relativ;
  height: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 20ch;
  list-style: none;
  text-align: center;
  padding: 3px;
  user-select: none;
  margin-top: -20px;
  margin-left: -34px;
}

.day-dropdown div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: blueviolet;
  padding: 3px;
  gap: 4px;
  border: blue solid 2px;
  z-index: 50;
  width: 20ch;
}

.day-dropdown li {
  position: relative;
  width: 24px;
  height: 24px;
  background: blue;
  font-weight: 700;
  border-radius: 40px;
  padding-top: 2px;
  z-index: 50;
}

i {
  font-style: normal;
}

.day-dropdown li:hover {
  background-color: violet;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
