* {
  box-sizing: border-box;
}

.parent {
  width: 100vw;
  display: flex;
}

.col {
  flex: 0 0 50vw;
  height: 50vw;
  background: blue;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 0 0 25vw;
  height: 25vw;
}

.button {
  background: red;
}

.advice {
  background: orange;
}

@media screen and (max-width: 760px) {
  .parent {
    flex-wrap: wrap;
  }

  .col {
    flex: 0 0 100vw;
    height: 100vw;
  }

  .box {
    flex: 0 0 50vw;
    height: 50vw;
  }
}
